@charset "UTF-8";
html {
  overflow-x: hidden;
}


.header {
  background: url("../img/architecture-1727807_1280.jpg") no-repeat center center/cover;
  width: 100vw;
  height: 100vw;
}
body {
  font-family: "ヒラギノ明朝 ProN";
}

* {
  padding: 0;
  margin: 0;
}

.name {
  text-align: center;
  opacity: 0;
  animation-name: name;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  text-decoration: underline;
}


.copy {
  text-align: center;
  font-size: 1.0rem;
}

@keyframes  name {
  0% {
    opacity: 0;
    color: #000;
  }

  100% {
    opacity: 1;
    color: #232329;
  }
}


.fade-in {
  opacity: 1;
  animation-name: sample1;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  font-size: 1.3rem;
  display: inline-block;
}


@keyframes  sample1 {
  0% {
    opacity: 0;
    color: #000;
  }

30% {
  opacity: 0;
  color: #866061;
}

  100% {
    opacity: 1;
    color: #232329;
  }
}


.fade-in01 {
  opacity: 0;
  visibility: hidden;
  transform: translate(0,40px);
  transition: 1s;
}

.fade-in01 {
  opacity: 1;
  transform: translate(0,0);
}



.section .oneArea {
    margin-bottom: 90px; /*空欄の幅*/
    text-align: center;
}
.section ul {
    display:   flow-root;
    justify-content: space-between;
    list-style-type: none;
    margin: 0 0 10px;
    box-sizing: border-box;
}

.section ul li:last-child {
    border-right: none;
}

.section ul li a {
    display: flow-root;
    padding: 10px;
    text-decoration: none;
    color: #302e33;
    background: #ffffff;
    transition-duration: 0.3s;
}

@media print,screen and (min-width: 1000px) {
.section ul li :hover {
  background: #e0dfdf;
  color: #37362e;
}
}

.section .oneArea .one_title {
    color: #37363a;
    text-align: center;
    padding: 10px;
    background: #e0dfdf;
}

.section .oneArea a.button {
    display: block;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    background: #f2f2f2;
    padding: 10px;
    text-decoration: none;
    transition-duration: 0.3s;
    margin-top: 40px;
}

.section .oneArea a.button:hover {
    opacity: 0.7;
}
@media screen and (max-width: 1024px) {
    .section .oneArea .one_title {
        font-size: 18px;
    }
}

.horizontal-list {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.item {
  /* 横スクロール用 */
  display: inline-block;
  width: 90%;
}

horizontal-list{
  display: flex;
}